In [10]:
import pandas as pd
from kafka import KafkaProducer
from time import sleep
from json import dumps
import json

In [11]:
producer = KafkaProducer(bootstrap_servers=['3.90.31.172:9092'], #change ip here
                         value_serializer=lambda x: 
                         dumps(x).encode('utf-8'))

In [12]:
producer.send('demo_test2', value={'h':'w'})

In [13]:
df = pd.read_csv("sp500_data_2021_to_2024.csv")

In [14]:
df.head()

,Date,Open,High,Low,Close,Adj Close,Volume
0,2021-01-04,3764.610107,3769.989990,3662.709961,3700.649902,3700.649902,5015000000
1,2021-01-05,3698.020020,3737.830078,3695.070068,3726.860107,3726.860107,4591020000
2,2021-01-06,3712.199951,3783.040039,3705.340088,3748.139893,3748.139893,6064110000
3,2021-01-07,3764.709961,3811.550049,3764.709961,3803.790039,3803.790039,5099160000
4,2021-01-08,3815.050049,3826.689941,3783.600098,3824.679932,3824.679932,4773040000

In [15]:
df.sample(1).to_dict()

{'Date': {136: '2021-07-20'},
 'Open': {136: 4265.10986328125},
 'High': {136: 4336.83984375},
 'Low': {136: 4262.0498046875},
 'Close': {136: 4323.06005859375},
 'Adj Close': {136: 4323.06005859375},
 'Volume': {136: 4438270000}}

In [1]:
while True:
    dict_stock = df.sample(1).to_dict(orient="records")[0]
    producer.send('demo_test2', value=dict_stock)
    sleep(1)

In [20]:
producer.flush() #clear data from kafka server